/********************************
    Large Devices - 1470px
*********************************/
@media (max-width: 1470px){

    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }

    .logo{
        width: 90px;
        height:90px;
    }

    .navlist a{
        margin: 0 10px;
    }

    /*#########################################################################################*/

    .hero-image{
        height: 90vh;
    }

    .hero-text h1{
        font-size: 2.3rem;
        width: 70%;
        text-align: center;
        margin-bottom: 15px;
    }

    .hero-text p{
        margin-bottom: 15px;
    }

    .hero-text .quote-btn{
        margin-top: 30px;
    }

    /*#########################################################################################*/

    .about-header{
        height: 185px;
        margin-top: 140px;
    }

    .about-header h1{
        font-size: 2.4rem;
    }

    .about-content{
        padding: 40px;
    }

    .about-text{
        padding: 0;
        padding-left: 60px;
        width: 50%;
    }

    .about-image{
        width: 50%;
        height: 330px;
    }

    .about-image img{
        width: 100%;
        height: 100%;
    }

    .about-frameworks{
        padding: 40px 40px;
        gap: 30px;
        width: 100%;
    }

    /*#####################################################################*/
    .service-header{
        height: 185px;
    }

    .service-cards{
        padding: 20px;
        gap: 50px;
    }

    .card{
        width: 35%;
        height: 400px;
    }

    .card img{
        height: 60%;
    }

    .card h3{
        font-size: 1.2em;
    }



    /*#########################################################################################*/

    .services{
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .services h3{
        margin-bottom: 30px;
    }

    .services p{
        width: 80%;
        margin-bottom: 30px;
    }

    .services-container{
        gap: 30px;
    }

    .service{
        width: 80%;
        height: 400px;
    }

    .service-image{
        width: 100%;
    }

    .service-image img{
        width: 100%;
    }

    /*#########################################################################################*/

    .contact-header{
        height: 185px;
        margin-top: 140px;
    }

    .contact-header h1{
        font-size: 2.4rem;
    }

    .sub-heading{
        margin: 40px 0 40px 0;
    }

    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 0;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .content{ 
        width: 45%;
    }

    .content iframe{
        width: 100%;
        height: 250px;
    }

    .contact-form{
    width: 70%;
    }

    /*#########################################################################################*/

    .cta-container{
        padding: 60px;
    }

    .cta-text{
        width: 70%;
    }

    .cta-text h3{
        font-size: 2.7rem;
    }

    .cta-text p{
        width: 100%;
    }

    .cta-btns{
        width: 80%;
        align-items: center;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        margin: 0 2px;
    }

    .cta-btns .btn:nth-of-type(2){
        margin-left: 2px;
    }

    .cta-image{
        width: 45%;
        display: flex;
        align-items: center;
    }

    .cta-image img{
        width: 85%;
        height: 85%;
    }

    /*#########################################################################################*/

    .footer-container{
        padding: 0 20px 30px 20px;
    }

    .logo-poster{
        margin-top: 45px;
        margin-right: 35px;
    }

    .quick-links{
        width: 33%;
    }

    .contacts{
        align-items: flex-start;
    }

    .logo-poster img{
        width: 220px;
        height: 220px;
    }

/*###################################################################################*/
    .inspection-booking-header{
        height: 185px;
        margin-top: 140px;
    }

    .inspection-booking-header h1{
        font-size: 2.4rem;
    }

    .form-container .message-btn .btn{
        width: 40%;
    }    
}

/******************************** 
    Medium Devices - 1024px
*********************************/
@media (max-width: 1024px){

/*####################################################################################*/    
    .form-container{
        padding: 40px 70px 80px 70px;
        width: 85%;
    }

    .form h3{
        font-size: 1.3rem;
    }

    .form-container .fieldset-vehicle-info, .fieldset-contact-info, .fieldset-inspection-info{
        gap: 40px;
    }

    .form-container .fieldset-inspection-info div:nth-last-of-type(1){
        width: 94%;
    }

    .form-container .fieldset-vehicle-info div input, .fieldset-contact-info div input, .fieldset-inspection-info div input{
        margin-top: 0;
    }

    .service-cards{
        padding: 10px;
        gap: 30px;
    }

    .card{
        height: 450px;
    }
}

/******************************** 
    Medium Devices - 780px
*********************************/
@media (max-width: 780px){

    body{
        font-size: 14px;
    }
    .ctabar{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .ctabar-item{
        margin-bottom: 7px;
    }
    
    .logo img{
        width: 90px;
        height: 90px;
    }

    .navlist{
        position: absolute;
        top: 120px;
        left: 0;
        height: 350px;
        width: 100%;
        background-color: black;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        transition: .3s ease;
        z-index: 1;
        padding: 100px 0 40px 20px;
    }

    .navlist.active{
        display: flex;
    }

    .humburger-container{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .humburger-container i{
        color: red;
        font-size: 1.8rem;
        width: 100%;
        height: 100%;
    }

    .humburger-container:hover{
        cursor: pointer;
    }

    .humburger-menu{
        width: 40px;
        height: 40px;
    }

    .humburger-container.active .humburger-menu{
        display: none;
    }

    .humburger-container.active .remove-menu{
        display: flex;
        width: 40px;
        height: 40px;
        position: relative;
    }

    .humburger-container .remove-menu{
        display: none;
    }

    /*#########################################################################################*/

    .hero-image{
        height: 85vh;
    }

    .hero-text{
        top: 20%;
        left: 10%;
        width: 80%;
        text-align: center;
    }

    .hero-text h1{
        margin-bottom: 25px;
        font-size: 2rem;
    }

    .hero-text p{
        margin-bottom: 10px;
        width: 100%;
        font-size: 1.1em;
    }

    .hero-text .quote-btn{
        margin-top: 15px;
    }

    /*#########################################################################################*/

    .about{
        padding-top: 38px;
        text-align: center;
    }

    .about-header{ 
        height: 160px;
        margin-top: 140px;
    }

    .about-header h1{
        font-size: 2rem;
    }

    .about-content{
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }

    .about-image{
        width: 95%;
    }

    .about-text{
        margin-top: 60px;
        width: 90%;
        padding: 0;
        text-align: center;
    }

    .about-frameworks{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .framework{
        width: 90%;
        margin-right: 0;
        display: flex;
        align-items: center;
    }

    .framework span{
        letter-spacing: 1px;
    }

    .explore-btn{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 60px;
    }
    

    /*####################################################################*/

    .our-services{
        padding-top: 38px;
        padding-bottom: 50px;
    }

    .service-header{
        height: 160px;
    }

    .service-content{
        padding: 10px;
        text-align: center;
    }

    .service-cards{
        padding: 10px;
        gap: 50px;
    }

    .card{
        width: 40%;
        height: auto;
    }

    .card img{
        height: 57%;
    }

    .card h3{
        font-size: 1.2em;
    }

    /*#########################################################################################*/

    .services{
        padding: 100px 50px;
    }

    .services h3{
        margin-bottom: 0;
        text-align: center;
    }

    .services p{
        width: 90%;
        margin: 35px 0;
    }

    .services a{
        width: 100%;
    }

    .service{
        width: 100%;
        height: auto;
    }

    .service-description h4{
        font-size: 1.4rem;
    }

    .service-description p{
        margin: 5px 0 0 0;
    }

    .explore-btn a{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    /*#########################################################################################*/

    .contact{
        padding-top: 65px;
    }

    .contact-header{
        height: 160px;
    }

    .contact-header h1{
        font-size: 2rem;
    }

    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .content{ 
        width: 47%;
    }

    .content iframe{
        width: 100%;
        height: 250px;
    }

    .contact-form{
    width: 80%;
    }

    .contact-form .message-btn button{
        width: 35%;
    }

    /*#########################################################################################*/

    .cta-container{
        flex-direction: column;
        padding: 70px 50px;
        align-items: center;
    }

    .cta-text{
        align-items: center;
        width: 100%;
    }
    .cta-text h3{
        text-align: center;
        font-size: 2.6rem;
    }

    .cta-text p{
        width: 80%;
        text-align: center;
    }

    .cta-btns{
        width: 75%;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
    }

    .cta-btns .btn:nth-of-type(2){
        border: 1px solid;
    }

    .cta-btns .btn:nth-of-type(2):hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 65%;
        height: 65%;
    }

    /*#########################################################################################*/

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.6em;
    }

    .contacts{
        margin-bottom: 30px;
        align-items: center;
    }

    .trading-hours{
        align-items: center;
        margin-top: 30px;
    }

    .trading-hours h4{
        margin-bottom: 15px;
    }

    .trading-hour{
        margin: 0;
        margin-bottom: 10px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 30px;
    }

    .contacts .contact{
        margin: 0;
        padding: 10px 0;
    }

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin-bottom: 30px;
    }

    .logo-poster img{
        width: 200px;
        height: 200px;
    }

/*#################################################################################*/
    .inspection-booking-header{
        margin-top: 170px;
    }

    .inspection-booking-header h1{
        font-size: 2rem;
    }

.form-container{
        padding: 40px 70px 80px 70px;
        width: 90%;
    }

    .form h3{
        font-size: 1.2rem;
    }

    .form-container .fieldset-vehicle-info div, .fieldset-contact-info div, .fieldset-inspection-info div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-container .fieldset-inspection-info div:nth-last-of-type(1){
        width: 98%;
    }

    input::placeholder, textarea::placeholder{
        font-size: 14px;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], textarea{
        font-size: 14px;
    }

    .form-container .quote-btn{
        width: 50%;
        height: auto;
    }
    
}

/******************************** 
    Extra Small Devices - 480px 
*********************************/
@media (max-width: 480px) {
    body{
        font-size: 12px;
    }

    .ctabar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .ctabar-item:nth-child(1){
        margin-bottom: 10px;
    }
    .ctabar-item:nth-child(2){
        margin-bottom: 0;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        padding: 0 15px;
    }

    .navlist{
        display: none;
        top: 86px;
    }

    .humburger-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        width: 40px;
        height: 40px;
    }

    .humburger-container i{
        width: 40px;
        height: 40px;
    }

    .remove-menu{
        display: none;
    }

    .logo{
        width: 70px;
        height: 70px;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }

    .btn{
        padding: 7px;
    }

    .quote-btn{
        height: auto;
    }

    .hero-section{
        height: 88vh;
    }

    .hero-image{
        height: 100%;
    }

    .hero-text{
        top: 15%;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .hero-text h1{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 15px;
        width: 85%;
    }

    .hero-text p{
        margin-bottom: 10px;
        width: 82%;
        font-size: 1rem;
    }

    .hero-text .quote-btn{
        margin-top: 20px;
    }

    .about{
        align-items: center;
        padding-top: 25px;
    }

    .about-header{ 
        height: 140px;
        margin-top: 120px;
    }

    .about-header h1{
        font-size: 1.8rem;
    }

    .about-content{
        padding: 20px 20px;
    }

    .about-frameworks{
        width: 100%;
        padding: 20px;
    }
    .about-frameworks h3{
        font-size: 2rem;
    }

    .framework{
        width: 100%;
        padding: 15px;
    }

    .framework h3{
        font-size: 1rem;
    }

    /*#################################################################*/

    .our-services{
        padding-top: 0;
    }

    .service-header{
        height: 140px;
    }

    .service-content{
        padding: 20px;
    }

    .service-content p{
        text-align: center;
    }

    .service-cards{
        padding: 10px;
        gap: 30px;
    }

    .card{
        width: 100%;
        height: 350px;
        align-items: center;
    }

    .card p{
        width: 92%;
    }

    .card img{
        height: 57%;
    }

    .card h3{
        font-size: 1.2em;
    }

    /*#################################################################*/

    .contact{
        padding-top: 25px;
    }

    .contact-header{
        height: 160px;
        margin-top: 120px;
    }

    .contact-header h1{
        font-size: 1.8rem;
    }

    .sub-heading{
        margin-bottom: 20px;
    }
    .contact .contact-form{
        margin-bottom: 10px;
        width: 90%;
    }

    .contact-form .message-btn{
        width: 100%;
    }

    .contact-form .message-btn button{
        width: 100%;
    }

    .contact-content{
        margin-bottom: 10px;
    }

    .services{
        padding: 100px 20px;
    }

    .services h3{
        text-align: center;
        line-height: 1.3;
        width: 100%;
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .services p{
        width: 100%;
        margin: 10px 0 25px 0;
        font-size: 1rem;
    }

    .services-container{
        padding: 0;
    }

    .service{
        width: 100%;
        height: 240px;
    }

    .service-image img{
        width: 100%;
        height: 100%;
    }

    .service-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        bottom: 10%;
    }

    .service-description h4{
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
    }

    .service-description p{
        text-align: center;
        margin: 0;
        font-size: small;
    }

    .service-description .fa-solid{
        width: 27px;
        height: 27x;
    }

    .explore-btn a{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .explore-btn .btn{
        width: 75%;
    }

    .cta-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
    }

    .cta-text{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .cta-text h3{
        font-size: 2.2em;
        margin-bottom: 25px;
    }

    .cta-text p{
        width: 85%;
        font-size: 1rem;
    }

    .cta-btns{
        width: 100%;
        flex-direction: column;
    }

    .cta-btns a{
        width: 70%;
    }

    .cta-btns .btn-1{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .cta-btns .btn-2{
        border: 1px solid;
        width: 100%;
    }

    .cta-btns .btn-2:hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 70%;
        height: 70%;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.3em;
    }

    .contacts{
        margin-bottom: 30px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 30px;
    }

    .contacts .contact{
        margin: 0;
        padding: 5px 0;
    }

    .trading-hours h4{
        margin-bottom: 15px;
    }

    .trading-hour{
        margin: 0;
        margin-bottom: 10px;
    }

    input::placeholder, textarea::placeholder{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }   

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin: 20px 0 0 0;
    }

    .logo-poster img{
        width: 130px;
        height: 130px;
    }

    .copyright{
        flex-direction: column;
        padding: 30px 0;
        height: auto;
    }

    .copyright p{
        margin: 5px 0;
        text-align: center;
    }

    /*##########################################################################*/
    .inspection-booking-header{
        margin-top: 120px;
        height: 160px;
    }

    .inspection-booking-header h1{
        font-size: 1.8rem;
    }

    .form-container{
        padding: 40px 40px 80px 40px;
        width: 100%;
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form h3, p{
        text-align: center;
    }

    .form-container .message-btn{
        width: 100%;
        height: auto;
    }

    .form-container .message-btn .btn{
        width: 100%;
        height: auto;
    }

    .form-container .fieldset-vehicle-info, .fieldset-contact-info, .fieldset-inspection-info{
        margin-top: 20px;
    }

    .form-container .fieldset-vehicle-info div, .fieldset-contact-info div, .fieldset-inspection-info div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], textarea{
        font-size: 12px;
    }
}