/********************************
    Large Devices - 1470px
*********************************/
@media (max-width: 1470px){

    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }

    .logo{
        width: 90px;
        height:90px;
    }

    .navlist a{
        margin: 0 10px;
    }

    /*#########################################################################################*/

    .hero-image{
        height: 90vh;
    }

    .hero-text{
        top: 15%;
        left: 5%;
    }

    .hero-text h1{
        font-size: 3.5rem;
        width: 70%;
        text-align: center;
        margin-bottom: 15px;
    }

    .hero-text p{
        margin-bottom: 15px;
    }

    .hero-text .quote-btn{
        margin-top: 30px;
    }

    /*#########################################################################################*/

    .about-header{
        height: 185px;
    }

    .about-content{
        text-align: center;
    }

    /*#########################################################################################*/

    .services{
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .services h3{
        margin-bottom: 30px;
    }

    .services p{
        width: 80%;
        margin-bottom: 30px;
    }

    .services-container{
        gap: 30px;
    }

    .service{
        width: 430px;
        height: 400px;
    }

    .service-image{
        width: 100%;
    }

    .service-image img{
        width: 100%;
    }

    /*#########################################################################################*/

    .contact-header{
        height: 185px;
    }

    .sub-heading{
        margin: 40px 0 15px 0;
    }

    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 0;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .content{ 
        width: 45%;
    }

    .content iframe{
        width: 100%;
        height: 250px;
    }

    /*#########################################################################################*/

    .cta-container{
        padding: 60px;
    }

    .cta-text{
        width: 70%;
    }

    .cta-text h3{
        font-size: 2.7rem;
    }

    .cta-text p{
        width: 100%;
    }

    .cta-btns{
        width: 80%;
        align-items: center;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        margin: 0 2px;
        font-weight: 600;
    }

    .cta-btns .btn:nth-of-type(2){
        margin-left: 2px;
    }

    .cta-image{
        width: 45%;
        display: flex;
        align-items: center;
    }

    .cta-image img{
        width: 100%;
    }

    /*#########################################################################################*/

    .footer-container{
        padding: 0 20px 30px 20px;
    }

    .logo-poster{
        margin-top: 45px;
        margin-right: 35px;
    }

    .quick-links{
        width: 33%;
    }

    .logo-poster img{
        width: 220px;
        height: 220px;
    }
}

/******************************** 
    Medium Devices - 780px
*********************************/
@media (max-width: 780px){

    body{
        font-size: 14px;
    }
    .ctabar{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .ctabar-item{
        margin-bottom: 7px;
    }
    
    .logo img{
        width: 90px;
        height: 90px;
    }

    .navbar{
        top: 95px;
    }

    .navlist{
        position: absolute;
        top: 0;
        left: 0;
        height: 350px;
        width: 100%;
        background-color: black;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        transition: .3s ease;
        z-index: 1;
        padding: 100px 0 40px 20px;
    }

    .navlist.active{
        display: flex;
    }

    .humburger-container{
        display: flex;
        z-index: 1;
    }

    .humburger-container:hover{
        cursor: pointer;
    }

    .humburger-menu{
        width: 40px;
        height: 40px;
    }

    .humburger-container.active .humburger-menu{
        display: none;
    }

    .humburger-container.active .remove-menu{
        display: flex;
        width: 40px;
        height: 40px;
        position: relative;
    }

    .humburger-container .remove-menu{
        display: none;
    }

    /*#########################################################################################*/

    .hero-image{
        height: 85vh;
    }

    .hero-text{
        top: 27%;
        left: 10%;
        width: 80%;
        text-align: center;
    }

    .hero-text h1{
        margin-bottom: 25px;
        font-size: 3em;
    }

    .hero-text p{
        margin-bottom: 30px;
    }

    /*#########################################################################################*/

    .about{
        padding-top: 38px;
        text-align: center;
    }

    .about-header{ 
        height: 160px; 
    }

    /*#########################################################################################*/

    .services{
        padding: 100px 50px;
    }

    .services h3{
        margin-bottom: 0;
        text-align: center;
    }

    .services p{
        width: 90%;
        margin: 35px 0;
    }

    .services a{
        width: 100%;
    }

    .service{
        width: 100%;
        height: auto;
    }

    .service-description h4{
        font-size: 1.4rem;
    }

    .service-description p{
        margin: 5px 0 0 0;
    }

    /*#########################################################################################*/

    .contact{
        padding-top: 65px;
    }

    .contact-header{
        height: 160px;
    }

    .contact-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .content{ 
        width: 47%;
    }

    .content iframe{
        width: 100%;
        height: 250px;
    }

    /*#########################################################################################*/

    .cta-container{
        flex-direction: column;
        padding: 70px 50px;
        align-items: center;
    }

    .cta-text{
        align-items: center;
        width: 100%;
    }
    .cta-text h3{
        text-align: center;
        font-size: 2.6rem;
    }

    .cta-text p{
        width: 80%;
        text-align: center;
    }

    .cta-btns{
        width: 75%;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        font-weight: 600;
    }

    .cta-btns .btn:nth-of-type(2){
        border: 1px solid;
    }

    .cta-btns .btn:nth-of-type(2):hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 65%;
        height: 65%;
    }

    /*#########################################################################################*/

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.6em;
    }

    .contacts{
        margin-bottom: 30px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 30px;
    }

    .contacts .contact{
        margin: 0;
        padding: 10px 0;
    }

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin-bottom: 30px;
    }

    .logo-poster img{
        width: 200px;
        height: 200px;
    }
    
}

/******************************** 
    Extra Small Devices - 480px 
*********************************/
@media (max-width: 480px) {
    body{
        font-size: 12px;
    }

    .ctabar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .ctabar-item{
        margin-bottom: 5px;
    }

    .ctabar-item a{
        font-weight: 600;
    }

    .navbar{
        display: flex;
        top: 85px;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        padding: 0 20px;
    }

    .navlist{
        display: none;
    }

    .humburger-container{
        display: flex;
    }

    .humburger-container img{
        width: 40px;
        height: 40px;
    }

    .remove-menu{
        display: none;
    }

    .logo{
        width: 80px;
        height: 80px;
    }

    .btn{
        padding: 7px;
    }

    .quote-btn{
        height: auto;
        font-weight: 600;
    }

    .hero-section{
        height: 88vh;
    }

    .hero-image{
        height: 100%;
    }

    .hero-text{
        top: 25%;
        left: 0;
        padding: 0 20px;
        width: 100%;
    }

    .hero-text h1{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    .hero-text p{
        margin-bottom: 30px;
    }

    .about{
        align-items: center;
        padding-top: 25px;
    }
    .about-header{ 
        height: 140px; 
    }

    .about-content{
        padding: 40px 30px;
    }

    .contact{
        padding-top: 25px;
    }

    .services{
        padding: 100px 20px;
    }

    .services h3{
        text-align: center;
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    .services p{
        width: 100%;
        margin-bottom: 30px;
    }

    .services-container{
        padding: 0 20px;
    }

    .service{
        width: 100%;
    }

    .service-image img{
        width: 100%;
    }

    .service-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .service-description h4{
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
    }

    .service-description p{
        text-align: center;
        margin: 0;
    }

    .service-description .fa-solid{
        width: 27px;
        height: 27x;
    }

    .cta-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
    }

    .cta-text{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .cta-text h3{
        font-size: 2.2em;
        margin-bottom: 30px;
    }

    .cta-text p{
        width: 80%;
    }

    .cta-btns{
        width: 75%;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        font-weight: 600;
        margin-right: 2px;
    }

    .cta-btns .btn:nth-of-type(2){
        border: 1px solid;
        margin-left: 2px;
    }

    .cta-btns .btn:nth-of-type(2):hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 70%;
        height: 70%;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.3em;
    }

    .contacts{
        margin-bottom: 30px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 50px;
    }

    .contacts .contact{
        margin: 0;
        padding: 10px 0;
    }

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin-bottom: 30px;
    }

    .logo-poster img{
        width: 130px;
        height: 130px;
    }
}