/********************************
    Large Devices - 1470px
*********************************/
@media (max-width: 1470px){

    .ctabar{
        font-size: 1.1em;
    }

    .navbar{
        justify-content: space-evenly;
        padding: 10px 50px;
    }

    .logo{
        width: 120px;
        height:120px;
    }

    .navlist a{
        margin: 0 10px;
        font-size: 1.1em;
    }

    .quote-btn{
        border: 2px solid;
        font-size: 1.1rem;
    }

    .hero-image{
        height: 500px;
    }

    .hero-text{
        top: 15%;
        left: 5%;
    }

    .hero-text h1{
        font-size: 3.5rem;
        width: 70%;
        text-align: center;
        margin-bottom: 15px;
    }

    .hero-text p{
        margin-bottom: 15px;
    }

    .hero-text .quote-btn{
        margin-top: 30px;
    }

    .services{
        padding-left: 50px;
        padding-right: 50px;
    }

    .services h3{
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    .services p{
        font-size: 1.3rem;
        width: 80%;
        margin-bottom: 30px;
    }

    .service{
        width: 380px;
        height: 380px;
    }

    .service-image{
        width: 100%;
    }

    .service-image img{
        width: 100%;
    }

    .cta-container{
        padding: 60px 60px;
    }

    .cta-text{
        width: 70%;
    }

    .cta-text h3{
        font-size: 2.7rem;
    }

    .cta-text p{
        font-size: 1.3rem;
        width: 100%;
    }

    .cta-btns{
        width: 65%;
        align-items: center;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        border: 2px solid;
        margin: 0 2px;
        font-size: 1.2rem;
    }

    .cta-btns .btn:nth-of-type(2){
        margin-left: 2px;
    }

    .footer-container{
        padding: 0 20px 30px 20px;
    }

    .logo-poster img{
        width: 320px;
        height: 320px;
    }
}

/******************************** 
    Medium Devices - 780px
*********************************/
@media (max-width: 780px){
    .ctabar{
        height: 140px;
        flex-direction: column;
        font-size: 1.2em;
        align-items: center;
    }

    .ctabar-item{
        margin-bottom: 7px;
    }
    
    .logo img{
        width: 140px;
        height: 140px;
    }

    .navlist{
        display: none;
    }

    .quote-btn{
        width: auto;
        height: auto;
        border: 3px solid;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .humburger-container{
        display: flex;
    }

    .remove-menu{
        display: none;
    }

    .hero-image{
        height: 650px;
    }

    .hero-text{
        top: 20%;
        left: 10%;
        width: 80%;
        text-align: center;
    }

    .hero-text h1{
        margin-bottom: 25px;
        font-size: 3em;
    }

    .hero-text p{
        margin-bottom: 30px;
    }

    .services{
        padding: 60px 50px 90px 50px;
    }

    .services h3{
        margin-bottom: 0;
        text-align: center;
    }

    .services p{
        width: 90%;
        margin: 35px 0;
        font-size: 1.2em;
    }

    .services a{
        width: 100%;
    }

    .service{
        width: 100%;
        height: auto;
    }

    .service-description h4{
        font-size: 1.6rem;
    }

    .service-description p{
        font-size: 1.2rem;
        margin: 30px 0;
    }

    .cta-container{
        flex-direction: column;
        padding: 30px 35px 0 35px;
        align-items: center;
    }

    .cta-text{
        align-items: center;
        width: 100%;
    }
    .cta-text h3{
        text-align: center;
        font-size: 2.6rem;
    }

    .cta-text p{
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
    }

    .cta-btns{
        width: 75%;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        border: 3px solid;
        font-weight: 600;
        margin-right: 2px;
        font-size: 1.2rem;
    }

    .cta-btns .btn:nth-of-type(2){
        border: 3px solid;
        margin-left: 2px;
    }

    .cta-btns .btn:nth-of-type(2):hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 70%;
        height: 70%;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.6em;
    }

    .quick-links li{
        font-size: 1.2rem;
    }

    .contact {
        font-size: 1.2rem;
    }

    .contacts{
        margin-bottom: 30px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 50px;
    }

    .contacts .contact{
        margin: 0;
        padding: 10px 0;
    }

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin-bottom: 50px;
    }

    .logo-poster img{
        width: 200px;
        height: 200px;
    }
    
}

/******************************** 
    Extra Small Devices - 480px 
*********************************/
@media (max-width: 480px) {
    body{
        font-size: 12px;
    }

    .ctabar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .ctabar-item{
        margin-bottom: 5px;
    }

    .ctabar-item a{
        font-weight: 600;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        padding: 0 20px;
    }

    .navlist{
        display: none;
    }

    .humburger-container{
        display: flex;
    }

    .humburger-container img{
        width: 45px;
        height: 45px;
    }

    .remove-menu{
        display: none;
    }

    .logo{
        width: 80px;
        height: 80px;
    }

    .btn{
        padding: 5px;
    }

    .quote-btn{
        height: auto;
        font-weight: 600;
        border: 2px solid;
    }

    .hero-section{
        height: 500px;
    }

    .hero-image{
        height: 100%;
    }

    .hero-text{
        top: 15%;
        left: 0%;
        padding: 0 20px;
    }

    .hero-text h1{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    .hero-text p{
        margin-bottom: 40px;
    }

    .services{
        padding: 60px 20px 100px 20px;
    }

    .services h3{
        text-align: center;
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    .services p{
        width: 100%;
        margin-bottom: 30px;
    }

    .services-container{
        padding: 0 20px;
    }

    .service{
        width: 100%;
    }

    .service-image img{
        width: 100%;
    }

    .service-description{
        align-items: center;
    }

    .service-description h4{
        text-align: center;
        font-size: 1.5em;
    }

    .service-description p{
        text-align: center;
    }

    .cta-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
    }

    .cta-text{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .cta-text h3{
        font-size: 2.2em;
        margin-bottom: 30px;
    }

    .cta-text p{
        width: 80%;
    }

    .cta-btns{
        width: 70%;
    }

    .cta-btns .btn{
        width: auto;
        height: auto;
        border: 2px solid;
        font-weight: 600;
        margin-right: 2px;
    }

    .cta-btns .btn:nth-of-type(2){
        border: 2px solid;
        margin-left: 2px;
    }

    .cta-btns .btn:nth-of-type(2):hover{
        border: none;
    }

    .cta-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .cta-image img{
        width: 70%;
        height: 70%;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container h4{
        font-size: 1.3em;
    }

    .contacts{
        margin-bottom: 30px;
    }

    .quick-links, .contacts{
        text-align: center;
        width: 60%;
        margin-top: 50px;
    }

    .contacts .contact{
        margin: 0;
        padding: 10px 0;
    }

    .footer-container .contacts h4{
        margin-bottom: 20px;
    }

    .logo-poster{
        margin-bottom: 30px;
    }

    .logo-poster img{
        width: 130px;
        height: 130px;
    }
}