*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: black;
}

.btn{
    width: auto;
    height: 44px;
    padding: 10px 15px;
    border: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

.header{
    display: flex;
    flex-direction: column;
}

.ctabar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding: 20px 0 40px 0;
}

.ctabar a{
    text-decoration: none;
    color: red;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #ffff;
    padding: 10px 100px;
}

.logo{
    width: 140px;
    height:140px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.navlist{
    display: flex;
    flex-direction: row;
}

.navlist a{
    text-decoration: none;
    margin: 20px;
    color: #ffff;
}

.navlist a li{
    list-style-type: none;
}

.navlist a li:hover{
    cursor: pointer;
    color: red;
}

.quote-btn{
    background-color: red;
    color: #ffff;
    border: 1px solid #ffff;
}

.quote-btn:hover{
    cursor: pointer;
    background-color: rgb(190, 170, 170);
    color: #ffff;
    border: 1px solid rgb(190, 170, 170);
}

.humburger-container{
    display: none;
}

.hero-section{
    position: relative;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 15%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1{
    font-size: 3rem;
}

.hero-text p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero-image{
    width: 100%;
    height: auto;
}

/*#########################################################################################*/

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 90px 100px;
    align-items: center;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.services p{
    width: 50%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service{
    width: 400px;
    height: 300px;
    position: relative;
    background-color: black;
}

.service:hover .service-image img{
    opacity: 0.7;
    box-shadow: 0 0 10px red;
}

.service-image{
    width: 100%;
    height: 100%;
}

.service-image img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.service-description{
    position: absolute;
    bottom: 1%;  
    color: #ffff;
    padding: 20px;
}

.service-description p{
    width: 100%;
    text-align: left;
    margin-top: 5px;
    font-size: 0.9rem;
}

.service-description h4{
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 1.4rem;
}

.service-description i{
    color: red;
    font-size: 30px;
}

/*#########################################################################################*/

.cta{
    display: flex;
}

.cta-container{
    display: flex;
    flex-direction: row;
    padding: 100px 140px;
    width: 100%;
    background-color: red;
    color: #ffff;
}

.cta-text{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.cta-text h3{
    font-size: 4.5rem;
    margin-bottom: 35px;
}

.cta-text p{
    line-height: 1.5;
    margin-bottom: 35px;
    width: 70%;
}

.cta-btns{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.cta-btns .btn{
    background-color: black;
    color: #ffff;
}

.cta-btns .btn:nth-of-type(2){
    background-color: red;
    border: 1px solid #ffff; 
}

.cta-btns .btn:hover{
    cursor: pointer;
    background-color: rgb(190, 170, 170);
    border: 1px solid rgb(190, 170, 170);
}

/*#########################################################################################*/

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: #ffff;
}

.quick-links{
    margin-top: 90px;
}

.links-list a{
    text-decoration: none;
    margin: 20px;
    color: #ffff;
}

.links-list a li{
    list-style-type: none;
}

.contacts{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.contacts .contact{
    margin: 20px;
    margin-left: 0;
}

.logo-poster img{
    width: 400px;
    height: 400px;
}




